
body {
  font-size: 30px;
  width: 60%;
  margin: 225px auto;
  font-family: 'Open Sans', sans-serif;
  background-image: url("https://www.mrsmithworldphotography.com/photos/Houses-of-Parliament-11.jpg");
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}
button{
  font-size: 24px;
}

h1 {
  font-size: 3em;
  color: aliceblue;
}

h3 {
  width: 30%;
  background-color: rgb(248, 248, 248);
}
.low-usage {
  color: green;
}

.medium-usage {
  color: white;
}

.high-usage {
  color: red;
}

#current-city{
  font-weight: bold;
  border: none;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    border-radius: 12px;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
